body,
h1,
p {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  overflow-y: hidden;
}
body {
  width: 100%;
  visibility: hidden;
  overflow-y: auto;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  flex-direction: column;
}
#preloader.show {
  visibility: visible;
  opacity: 1;
}

#preloader p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 2.3vh;
  color: #3d3483;
  text-align: center;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 1vh;
}
.dots span {
  font-size: 3.9vh;
  animation: dotBlink 1s infinite step-start;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}

.dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.dots span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dotBlink {
  50% {
    visibility: hidden;
  }
}
header {
  background-color: #1c7539;
  height: 7vh;
  width: 100%;
  position: fixed;
  z-index: 1;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: #3a9e56;
  color: #000000;
  height: 7%;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}
.clickable-footer {
  margin-left: 9%;
}
.footertext {
  font-size: 2vh;
  color: #efefef;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.footertext:hover {
  text-decoration: underline;
  cursor: pointer;
}
.mainclass {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
}
.zclass {
  width: 100%;
  position: relative;
}
.mainclass::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/Projectresources/Skypicture.jpg"), rgba(255, 255, 255, 0.7);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  z-index: -1;
}
.mainclasslogo {
  position: absolute;
  right: 11%;
  top: 22vh;
  width: 50vh;
  height: auto;
  opacity: 0.5;
}
@media (max-width: 500px) {
  .mainclasslogo {
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}
.userlogoclass {
  width: 100%;
}
.userlogo {
  position: absolute;
  right: 20vh;
  top: 9vh;
  width: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d3483;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 1);
}
.userlogo:hover {
  cursor: pointer;
}
.userlogotext {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.6vh;
  position: absolute;
  right: 32.5vh;
  top: 13vh;
  color: #3d3483;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1350px) {
  .userlogo {
    left: 50%;
    top: 9vh;
    right: auto;
    transform: translateX(-50%);
  }

  .userlogotext {
    left: 50%;
    top: 20vh; /* Поставь нужное значение по вертикали */
    right: auto;
    transform: translateX(-50%);
  }
}
.loog {
  width: 7vh;
  height: 7vh;
  background-image: url("/Projectresources/logo\ good.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 9%;
  float: left;
}
.logtext {
  margin-top: 0.2em;
  padding-left: 0.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 2.2vh;
}
.logtext2 {
  padding-left: 0.5%;
  font-family: arial;
  font-weight: bold;
  color: white;
  font-size: 0.8vh;
}
.text1 {
  margin-bottom: 0.3vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.8vh;
  font-weight: bold;
  color: #3d3483;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.buttonback {
  margin-top: 1vh;
  background: #0073b7;
  color: white;
  width: 20vh;
  height: 3.5vh;
  border: none;
  margin-bottom: 2.5vh;
  border-radius: 2vh;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.buttonback:hover {
  background: #3a9e56;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.buttonback2 {
  margin-top: 1vh;
  background: #0073b7;
  color: white;
  width: 20vh;
  height: 3.5vh;
  border: none;
  margin-bottom: 2.5vh;
  border-radius: 2vh;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.buttonback2:hover {
  background: #3a9e56;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.main_1_1 {
  margin-top: 14vh;
  margin-left: 12.5%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1350px) {
.main_1_1 {
  align-items: center; 
  margin-right: 0;
  margin-left: 0;
  margin-top: 24vh;
}
.text1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
}

.buttons-container {
  display: flex; 
  gap: 3vh;
}

.container {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  margin-left: 12.5%;
  margin-bottom: 10vh;
  padding: 2vh;
  width: 50%;
  border-radius: 1.5vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.overtestcontainer {
  max-height: 45vh;
  overflow-y: auto;
}

.testintro {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  color: #3d3483;
  margin-left: 6vh;
  margin-right: 3vh;
  margin-bottom: 0.5vh;
}
.titest {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  color: #3d3483;
}
.settimetest {
  background: #0073b7;
  color: white;
  padding: 0.5vh 0.5vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.settimetest:hover {
  background: #3a9e56;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.deltetest {
  background: #3d3483;
  color: white;
  padding: 1vh 2vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.4vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.deltetest:hover {
  background: #3a9e56;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.testcontainer {
  margin-bottom: 2vh;
}
.plustestdelete {
  margin-left: 6vh;
  display: flex;
  align-items: center;
}
.upptestblock {
  min-width: 60vh;
  max-width: 60vh;
  background-color: #d9d9d9;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  color: #3d3483;
  border-bottom: 1px solid #c5b7b7;
}

.questname {
  margin-right: 2vh;
  margin-top: 1vh;
  word-break: break-word; /* Перенос длинных слов */
  overflow-wrap: break-word; /* Перенос в любом месте */
}
.questnumb {
  margin-right: 1vh;
  margin-top: 1vh;
  word-break: break-word; /* Перенос длинных слов */
  overflow-wrap: break-word; /* Перенос в любом месте */
}
.questchange {
  align-self: flex-start;
  background: #0073b7;
  color: white;
  padding: 0.3vh 2vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  width: auto;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  margin-right: 2vh;
  margin-top: 1vh;
  margin-bottom: 1.5vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.questchange:hover {
  background: #3a9e56;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.righttestadd {
  margin-left: 6vh;
  display: flex;
  flex-wrap: wrap;
  flex: 70%;
}
.lefttestadd {
  display: flex;
  flex: 30%;
  align-self: flex-start;
  flex-wrap: wrap;
}
.questpoints {
  word-break: break-word; /* Перенос длинных слов */
  overflow-wrap: break-word; /* Перенос в любом месте */
  margin-top: 1vh;
  align-self: flex-start;
  margin-right: 1vh;
}
.pointschange {
  align-self: flex-start;
  margin-top: 10px;
  background: #0073b7;
  color: white;
  padding: 0.3vh 2vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  margin-right: 2vh;
  margin-bottom: 2vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.pointschange:hover {
  background: #3a9e56;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.deletequest {
  align-self: center;
  background: #3d3483;
  color: white;
  padding: 0.5vh 1vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
  margin-left: 2vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
}

.deletequest:hover {
  background: #3a9e56;
}
.plusanswerdelete {
  margin-left: 6vh;
  display: flex;
  align-items: center;
}
.plusundertestblockbox {
  margin-left: 6vh;
  display: flex;
  align-items: center;
}
.answerblock {
  min-width: 60vh;
  max-width: 60vh;
  background-color: #d9d9d9;
  border-bottom: 1px solid #c5b7b7;
}
.undertestblockbox {
  min-width: 60vh;
  max-width: 60vh;
  background-color: #d9d9d9;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}
.answblockadd {
  margin-top: 1.3vh;
  margin-bottom: 1.3vh;
  margin-left: 2vh;
  margin-right: 2vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
  align-items: center; /* Выравнивание по вертикали */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  color: #3d3483;
}
.undertestblockboxadd {
  margin-top: 1.3vh;
  margin-bottom: 1.3vh;
  margin-left: 2vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
  align-items: center; /* Выравнивание по вертикали */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  color: #3d3483;
}
.answerchange {
  align-self: center;
  background: #0073b7;
  color: white;
  padding: 0.2vh 1vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.answerchange:hover {
  background: #3a9e56;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.answerdelete {
  align-self: center;
  background: #3d3483;
  color: white;
  padding: 0.2vh 1vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
}
.answerdelete:hover {
  background: #3a9e56;
}
.undertestblock {
  min-width: 60vh;
  max-width: 60vh;
  background-color: #d9d9d9;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  color: #3d3483;
  margin-left: 6vh;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.answertype {
  margin-left: 2vh;
}
.answer-type {
  margin-top: 1vh;
  margin-bottom: 1vh;
  background: #0073b7;
  color: white;
  padding: 0.3vh 1vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  margin-left: 2vh;
  width: auto;
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
}
.addtype {
  margin-top: 1vh;
  margin-bottom: 1vh;
  background: #0073b7;
  color: white;
  padding: 0.5vh 1vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  margin-left: 2vh;
  width: auto;
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
}
.addtype:hover {
  background: #3a9e56;
}

.addanswer {
  margin-top: 1vh;
  margin-bottom: 1vh;
  background: #0073b7;
  color: white;
  padding: 0.3vh 1vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  margin-left: 2vh;
  width: auto;
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.addanswer:hover {
  background: #3a9e56;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.addquest {
  background: #0073b7;
  color: white;
  padding: 1vh 2vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  width: auto;
  display: inline-block;
  white-space: nowrap;
  align-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.addquest:hover {
  background: #3a9e56;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
input[type="checkbox"],
input[type="radio"] {
  accent-color: #3d3483; /* Меняет цвет кнопок */
  width: 2vh;
  height: 2vh;
}
.fullsupport {
  display: flex;
  justify-content: space-between; /* Размещаем элементы по краям */
  margin-bottom: 2vh;
  width: 100%;
}
.leftsupport {
  flex: 30%;
}
.rightsupport {
  flex: 70%;
  margin-left: auto; /* Выталкивает блок на правую сторону */
  display: flex;
  align-items: flex-start;
  gap: 1vh;
  width: 100%; /* Это гарантирует, что контейнер займёт доступную ширину */
}
.endline-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5vh;
  flex-wrap: wrap;
  margin-top: 2vh;
  margin-left: 5vh;
}
.giventime {
  margin-left: 3vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size:  1.5vh;
  color: #3d3483;
  margin-right: 1vh;
}
.changetimetotest {
  background: #0073b7;
  color: white;
  padding: 0.5vh 0.5vh;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  width: auto;
  display: inline-block;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size:  1.5vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.changetimetotest:hover {
  background: #3a9e56;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.delete-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center; /* Чтобы текст и кнопка были по вертикали выровнены */
  flex-wrap: wrap;
}
.addquest:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@media (max-width: 1350px) {
  .container {
    max-width: 60vh;
    min-width: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    padding: 0.5vh;
  }
  .overtestcontainer {
    max-height: 25vh;
    overflow-y: auto;
}
.buttons-container{
  flex-wrap: wrap;
  justify-content: center; 
  gap: 1vh;
}
.buttonback{
  margin-bottom: 0vh;
}
.fullsupport{
  flex-wrap: wrap;
}
.rightsupport{
  flex-wrap: wrap;
  justify-content: center;
}
.titest {
  margin-left: 3vh;
}
.testintro{
  margin-bottom: 1vh;
}
.plustestdelete{
  margin-left: 0vh;
}
.plusanswerdelete{
  margin-left: 0vh;
}
.undertestblock{
  margin-left: 0vh;
  min-width: 40vh;
  max-width: 40vh;
}
.upptestblock{
  min-width: 40vh;
  max-width: 40vh;
}
.answerblock{
  min-width: 40vh;
  max-width: 40vh;
}
.endline-wrapper{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}
}









.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 11000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  background: white;
  padding: 2vh;
  border-radius: 1vh;
  width: 35vh;
  position: relative;
  color: #3d3483;
  font-size: 1.6vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.modal-text {
  margin-top: 3vh;
  margin-left: 2vh;
  display: flex;
  align-items: center;
  gap: 1vh;
  white-space: normal; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  margin-right: 2vh;
  flex: 100%;
}

.close-modal {
  position: absolute;
  top: 0.2vh;
  right: 1vh;
  font-size: 4vh;
  cursor: pointer;
  color: #d9d9d9;
}
.close-modal:hover {
  color: #0073b7;
}

.modal-buttons {
  display: flex;
  margin-top: 5vh;
  gap: 2vh;
  margin-left: 2vh;
}

.modal-button {
  padding: 0.3vh 2vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.6vh;
  margin-bottom: 3vh;
}

.modal-button.yes {
  background: #3d3483;
  color: white;
}
.modal-button.yes:hover {
  background: #3a9e56;
}
.modal-button.no {
  background: #0073b7;
  color: white;
}
.modal-button.no:hover {
  background: #3a9e56;
}
.admin-icon{
  width: 3.9vh;
  height: 3.4vh;
}
.modal input {
  color: #3d3483;
  margin-top: 2vh;
  margin-left: 2vh;
  padding: 0.5vh;
  width: 70%;
  border: 1px solid #999;
  border-radius: 2vh;
  background: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.4vh;
  padding-left: 1vh;
}
#logo{
  width: 2.6vh;
  height: 2.6vh;
}


